<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com" rel="stylesheet"></script>
    <link rel="stylesheet" href="/static/main.css">
    <title>Services</title>
</head>
<body>
  {% include "header.html" %}
      <!-- Services in detailed -->
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our powerful management system</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">A franchisee management system can help streamline and optimize the management of a hotel franchise, allowing franchisors and franchisees to focus on providing exceptional guest experiences and growing their businesses.</p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/image2.jpg">
                <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                  <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Resource Management</h1>
                  <p class="leading-relaxed"> A franchisee management system can help optimize the allocation and utilization of resources such as staff, inventory, and equipment across the franchise network. So that it does not required to hire someone.</p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/image3.jpg">
                <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                  <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Training and Development</h1>
                  <p class="leading-relaxed">The system can provide training and development resources for franchisees, helping to ensure that they have the knowledge and skills needed to run a successful hotel franchise.</p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/image4.jpg">
                <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                  <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Marketing and Promotion</h1>
                  <p class="leading-relaxed"> The system can support marketing and promotion efforts by providing tools such as customer relationship management (CRM), email marketing, and social media management.</p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/image5.jpg">
                <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                  <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Performance tracking and reporting</h1>
                  <p class="leading-relaxed">The system can provide real-time tracking and reporting of franchisee performance metrics, such as occupancy rates, revenue per available room and guest satisfaction scores, enabling franchisors to monitor Performance</p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/image6.jpg">
                <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                  <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Communication and Collaboration</h1>
                  <p class="leading-relaxed">A franchisee management system can facilitate effective communication and collaboration between franchisors and franchisees by providing tools such as messaging, document sharing, and project management.</p>
                </div>
              </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
              <div class="flex relative">
                <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="/static/images/image7.jpg">
                <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                  <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Financial Management</h1>
                  <p class="leading-relaxed"> A franchisee management system can assist with financial management tasks such as budgeting, forecasting, and accounting, helping to ensure the financial health of the franchise network.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include "footer.html" %}
</body>
</html>